@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url(../Library/Fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url(../Library/Fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url(../Library/Fonts/Roboto/Roboto-Bold.ttf);
}

:root {
    --color-bg: hsl(244, 51%, 11%);
    --color-text: hsl(0, 0%, 94%);
    --color-accent: hsl(169, 100%, 47%);
    --color-accent2: hsl(245, 45%, 30%);
    --color-accent2-hover: hsl(245, 45%, 45%);
    --magenta: #e310cb;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    margin-block-end: 50vh;
    background: var(--color-bg);
    color: var(--color-text);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: center;
}
.wrapper {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 1fr;
}
.summary {
    border-radius: 5px;
}
a {
    color: var(--color-accent2);
    font-weight: bold;
}
a:hover {
    color: var(--color-accent2-hover);
    text-decoration: none;
}
.main {
    margin-top: 0;
    margin-right: 0;
    padding: 10px 0 0 7px;
    width: 65vw;
    justify-content: left;
    flex-direction: column;
    color: hsl(174, 51%, 19%);
}
.contact {
    padding-left: 3rem;
    width: 10vw;
}
.contact h2 {
    font-size: 1.5rem;
    padding: 1rem;
}
.contact p {
    float: left;
    align-content: center;
}
.contact a {
    columns: var(--color-text);
}
.contact a:hover {
    color: var(--color-accent);
    text-decoration: none;
}
.info {
    text-align: auto;
    grid-column-start: 2;
    grid-column-end: 2;
}
.gradient {
    background: rgb(250, 235, 215);
    background: radial-gradient(circle, rgba(250, 235, 215, 1) 0%, rgba(215, 230, 250, 1) 100%);
}
.job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.education {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: hsl(174, 51%, 19%);
}
.education:last-of-type {
    padding-bottom: 20px;
}
.job-details {
    width: 25em;
}
.job-summary {
    width: 25em;
    padding-top: 60px;
    border-left: 5px solid hsl(174, 51%, 19%);
}
aside {
    grid-column: 4;
    grid-row: 1/5;
    margin-left: 20px;
    padding: 50px 20px ;
    width: 25vw;
    flex-direction: column;
    justify-content: right;
    /* background-color: #40E0D0; */
    background: rgb(2, 0, 36);
        background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(64, 224, 208, 1) 70%, rgba(0, 212, 255, 1) 100%);
    height: auto;
}
h1, h2, h3, p, ol, ul, li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    list-style-type: none;
    padding: 0 0 1rem 0;
    margin: 0;
}
li {
    font-style: italic;
    padding-left: 20px;
    margin-left: 5px;
}
/* h1, h2 {
    color: hsl(174, 51%, 19%);
    font-family: 'Water Brush', cursive;
    font-size: 3rem;
    padding-top: 15px;
    text-align: center;
} */
h1 {
    font-size: 4rem;
    text-align: center;
    padding: 20px 10px;
}
h3 {
    padding: 20px 10px;
}

