*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
img {
    max-width: 100%;
    padding: 10px 0 10px 0;
}
dt {
    font-weight: bold;
}
/* 
Content Sectioning Cheat Sheet

<address>
Website address (when in site footer) or author address (when in article footer)

<article>
Syndicatable, independent content units

<aside>
Indirectly related content: sidebars, call-outs, quotes, etc. 

<footer>
Applies to sectioning element or <body> - contains links, contact info, copyright, etc.

<header>
Introductory content, site identity, navigation, author name, search form, etc.

<h1> - <h6>
Section headings used within all of these elements. There are only 6 levels.

<main>
Informative: Identifies the main focus of the page (content, application, etc)

<nav>
Major navigation for the page. Not all nav needs to have <nav> (as in the footer)

<section>
A standalone portion of the document. Includes a heading. May be in an <article> or not.

*/