*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-block-end: 50vh; //temp style
    background: var(--color-bg);
    color: var(--color-text);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;   
}

a {
    text-decoration: none;
}
